# insurance Dataset

In [104]:
#importing pandas
import pandas as pd

In [105]:
#loading dataset
df = pd.read_csv('insurance.csv')

In [106]:
#checking detials
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [107]:
#checking shapes
df.shape

(1338, 7)

In [108]:
# checking info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

# thier is no any null value so move forward to encoding a catagorical feature

In [109]:
obj_col = [df[df.columns].dtypes == object]

In [110]:
#first encoded sex colum with LableEncoder
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
sex_encoded = le.fit_transform(df['sex'])
df['sex_encode'] = sex_encoded 
df

#also we are doing same thing with smoker feature

smoker_encorder = le.fit_transform(df['smoker'])
df['smoker_encoded'] = smoker_encorder
df

,age,sex,bmi,children,smoker,region,charges,sex_encode,smoker_encoded
0,19,female,27.900,0,yes,southwest,16884.92400,0,1
1,18,male,33.770,1,no,southeast,1725.55230,1,0
2,28,male,33.000,3,no,southeast,4449.46200,1,0
3,33,male,22.705,0,no,northwest,21984.47061,1,0
4,32,male,28.880,0,no,northwest,3866.85520,1,0
...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,1,0
1334,18,female,31.920,0,no,northeast,2205.98080,0,0
1335,18,female,36.850,0,no,southeast,1629.83350,0,0
1336,21,female,25.800,0,no,southwest,2007.94500,0,0
1337,61,female,29.070,0,yes,northwest,29141.36030,0,1

# now moving forward with one-hot encorder
# first check the dataset

In [111]:
df.head()

,age,sex,bmi,children,smoker,region,charges,sex_encode,smoker_encoded
0,19,female,27.900,0,yes,southwest,16884.92400,0,1
1,18,male,33.770,1,no,southeast,1725.55230,1,0
2,28,male,33.000,3,no,southeast,4449.46200,1,0
3,33,male,22.705,0,no,northwest,21984.47061,1,0
4,32,male,28.880,0,no,northwest,3866.85520,1,0

In [112]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse_output=False)
region_encoded = ohe.fit_transform(df[['region']])

# regions_ohe=ohe.get_feature_names_out(['region'])
#convert it into datafram
regions_encoded_df = pd.DataFrame(region_encoded, columns=ohe.get_feature_names_out(['region'])
)

df_ohe = pd.concat([df ,regions_encoded_df], axis=1)

In [113]:
df_ohe.head()

,age,sex,bmi,children,smoker,region,charges,sex_encode,smoker_encoded,region_northeast,region_northwest,region_southeast,region_southwest
0,19,female,27.900,0,yes,southwest,16884.92400,0,1,0.0,0.0,0.0,1.0
1,18,male,33.770,1,no,southeast,1725.55230,1,0,0.0,0.0,1.0,0.0
2,28,male,33.000,3,no,southeast,4449.46200,1,0,0.0,0.0,1.0,0.0
3,33,male,22.705,0,no,northwest,21984.47061,1,0,0.0,1.0,0.0,0.0
4,32,male,28.880,0,no,northwest,3866.85520,1,0,0.0,1.0,0.0,0.0

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             1338 non-null   int64
 1   sex             1338 non-null   object
 2   bmi             1338 non-null   float64
 3   children        1338 non-null   int64
 4   smoker          1338 non-null   object
 5   region          1338 non-null   object
 6   charges         1338 non-null   float64
 7   sex_encode      1338 non-null   int64
 8   smoker_encoded  1338 non-null   int64
dtypes: float64(2), int64(4), object(3)
memory usage: 94.2+ KB

In [115]:
df = df.drop('sex', axis=1)
df

,age,bmi,children,smoker,region,charges,sex_encode,smoker_encoded
0,19,27.900,0,yes,southwest,16884.92400,0,1
1,18,33.770,1,no,southeast,1725.55230,1,0
2,28,33.000,3,no,southeast,4449.46200,1,0
3,33,22.705,0,no,northwest,21984.47061,1,0
4,32,28.880,0,no,northwest,3866.85520,1,0
...,...,...,...,...,...,...,...,...
1333,50,30.970,3,no,northwest,10600.54830,1,0
1334,18,31.920,0,no,northeast,2205.98080,0,0
1335,18,36.850,0,no,southeast,1629.83350,0,0
1336,21,25.800,0,no,southwest,2007.94500,0,0
1337,61,29.070,0,yes,northwest,29141.36030,0,1

In [92]:
df = df.drop('region', axis =1)

In [116]:
df = df_ohe

In [117]:
df

,age,sex,bmi,children,smoker,region,charges,sex_encode,smoker_encoded,region_northeast,region_northwest,region_southeast,region_southwest
0,19,female,27.900,0,yes,southwest,16884.92400,0,1,0.0,0.0,0.0,1.0
1,18,male,33.770,1,no,southeast,1725.55230,1,0,0.0,0.0,1.0,0.0
2,28,male,33.000,3,no,southeast,4449.46200,1,0,0.0,0.0,1.0,0.0
3,33,male,22.705,0,no,northwest,21984.47061,1,0,0.0,1.0,0.0,0.0
4,32,male,28.880,0,no,northwest,3866.85520,1,0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,1,0,0.0,1.0,0.0,0.0
1334,18,female,31.920,0,no,northeast,2205.98080,0,0,1.0,0.0,0.0,0.0
1335,18,female,36.850,0,no,southeast,1629.83350,0,0,0.0,0.0,1.0,0.0
1336,21,female,25.800,0,no,southwest,2007.94500,0,0,0.0,0.0,0.0,1.0
1337,61,female,29.070,0,yes,northwest,29141.36030,0,1,0.0,1.0,0.0,0.0

In [118]:
df = df.drop('sex', axis=1)

In [119]:
df = df.drop('smoker', axis=1)

In [120]:
df

,age,bmi,children,region,charges,sex_encode,smoker_encoded,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,southwest,16884.92400,0,1,0.0,0.0,0.0,1.0
1,18,33.770,1,southeast,1725.55230,1,0,0.0,0.0,1.0,0.0
2,28,33.000,3,southeast,4449.46200,1,0,0.0,0.0,1.0,0.0
3,33,22.705,0,northwest,21984.47061,1,0,0.0,1.0,0.0,0.0
4,32,28.880,0,northwest,3866.85520,1,0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,northwest,10600.54830,1,0,0.0,1.0,0.0,0.0
1334,18,31.920,0,northeast,2205.98080,0,0,1.0,0.0,0.0,0.0
1335,18,36.850,0,southeast,1629.83350,0,0,0.0,0.0,1.0,0.0
1336,21,25.800,0,southwest,2007.94500,0,0,0.0,0.0,0.0,1.0
1337,61,29.070,0,northwest,29141.36030,0,1,0.0,1.0,0.0,0.0

In [102]:
#saving clean csv
df.to_csv('insurance-clean.csv', index=False)

# cleaned