# dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('heart.csv')

In [3]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

# checking unique walues of each features

In [25]:
unique_val = df['Sex'].unique()
print("unique values of :" ,unique_val)

#now encodeing it with lableEncoder

from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

gender_encoded = le.fit_transform(df['Sex'])
df['gender_encoded'] = gender_encoded
df

unique values of : ['M' 'F']

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,gender_encoded
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,1
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,0
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,1
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1,0
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0,1

In [62]:
unique_val = df['ChestPainType'].unique()
print("unique values of ", unique_val)

#encodeing with lableincod
# from sklearn.preprocessing import LabelEncoder
# le = LabelEncoder()
# ChestPainType_encode = le.fit_transform(df['ChestPainType'])
# df['chest_pain_encoded'] = ChestPainType_encode
# df['chest_pain_encoded'].unique()


from sklearn.preprocessing import OneHotEncoder
encode = OneHotEncoder(sparse_output=False)

chest_pain_encoded = encode.fit_transform(df[['ChestPainType']])
chest_pain_df = pd.DataFrame(chest_pain_encoded , columns=encode.get_feature_names_out())
# Align index
chest_pain_df.index = df.index

df = pd.concat([df.drop('ChestPainType', axis=1), chest_pain_df], axis=1)

unique values of  ['ATA' 'NAP' 'ASY' 'TA']

In [63]:
df

,Age,Sex,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,gender_encoded,chest_pain_encoded,ecg_encoded,st_sloop_encoded,excersise_encoded,ChestPainType_ASY,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,M,140,289,0,Normal,172,N,0.0,Up,0,1,1,1,2,0,0.0,1.0,0.0,0.0
1,49,F,160,180,0,Normal,156,N,1.0,Flat,1,0,2,1,1,0,0.0,0.0,1.0,0.0
2,37,M,130,283,0,ST,98,N,0.0,Up,0,1,1,2,2,0,0.0,1.0,0.0,0.0
3,48,F,138,214,0,Normal,108,Y,1.5,Flat,1,0,0,1,1,1,1.0,0.0,0.0,0.0
4,54,M,150,195,0,Normal,122,N,0.0,Up,0,1,2,1,2,0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,110,264,0,Normal,132,N,1.2,Flat,1,1,3,1,1,0,0.0,0.0,0.0,1.0
914,68,M,144,193,1,Normal,141,N,3.4,Flat,1,1,0,1,1,0,1.0,0.0,0.0,0.0
915,57,M,130,131,0,Normal,115,Y,1.2,Flat,1,1,0,1,1,1,1.0,0.0,0.0,0.0
916,57,F,130,236,0,LVH,174,N,0.0,Flat,1,0,1,0,1,0,0.0,1.0,0.0,0.0
917,38,M,138,175,0,Normal,173,N,0.0,Up,0,1,2,1,2,0,0.0,0.0,1.0,0.0

In [71]:
unique_val = df['RestingECG'].unique()
print("unique values of ", unique_val)

# from sklearn.preprocessing import LabelEncoder
# le = LabelEncoder()

# ecg_encoded = le.fit_transform(df['RestingECG'])

# df['ecg_encoded'] = ecg_encoded
# df['ecg_encoded'].unique()


from sklearn.preprocessing import OneHotEncoder
encode = OneHotEncoder(sparse_output=False)
ecg_encode = encode.fit_transform(df[['RestingECG']])

ecg_feature_df = pd.DataFrame(ecg_encode, columns=encode.get_feature_names_out())
ecg_feature_df.index = df.index

unique values of  ['Normal' 'ST' 'LVH']

In [46]:
unique_val = df['ST_Slope'].unique()
print("unique values of ", unique_val)

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

st_sloop_encoded = le.fit_transform(df['ST_Slope'])
df['st_sloop_encoded'] = st_sloop_encoded
df['st_sloop_encoded'].unique()

unique values of  ['Up' 'Flat' 'Down']

array([2, 1, 0])

In [48]:

unique_val = df['ExerciseAngina'].unique()
print("unique values of ", unique_val)

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

excersise_encoded = le.fit_transform(df['ExerciseAngina'])
df['excersise_encoded'] = excersise_encoded
df['excersise_encoded'].unique()

unique values of  ['N' 'Y']

array([0, 1])

In [49]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,gender_encoded,chest_pain_encoded,ecg_encoded,st_sloop_encoded,excersise_encoded
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,1,1,1,2,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,0,2,1,1,0
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,1,1,2,2,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0,0,1,1,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,1,2,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,1,3,1,1,0
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1,1,0,1,1,0
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,1,0,1,1,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1,0,1,0,1,0
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0,1,2,1,2,0

In [51]:
df.drop('Sex', axis=1)

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,gender_encoded,chest_pain_encoded,ecg_encoded,st_sloop_encoded,excersise_encoded
0,40,ATA,140,289,0,Normal,172,N,0.0,Up,0,1,1,1,2,0
1,49,NAP,160,180,0,Normal,156,N,1.0,Flat,1,0,2,1,1,0
2,37,ATA,130,283,0,ST,98,N,0.0,Up,0,1,1,2,2,0
3,48,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0,0,1,1,1
4,54,NAP,150,195,0,Normal,122,N,0.0,Up,0,1,2,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,TA,110,264,0,Normal,132,N,1.2,Flat,1,1,3,1,1,0
914,68,ASY,144,193,1,Normal,141,N,3.4,Flat,1,1,0,1,1,0
915,57,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,1,0,1,1,1
916,57,ATA,130,236,0,LVH,174,N,0.0,Flat,1,0,1,0,1,0
917,38,NAP,138,175,0,Normal,173,N,0.0,Up,0,1,2,1,2,0